
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.App {
  text-align: center;
  background-color: #0065a0;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  //background-color: #282c34;
  //min-height: 100vh;
  //display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  //color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-card {
  background: #FFFFFF;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 200px;
  width: 160px;
  margin: 10px;
  float: left;
  align-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.green-card {
  background: #6BB324;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 200px;
  width: 160px;
  margin: 10px;
  float: left;
  align-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-card:hover {
  border: 5px solid #6BB324;
  box-sizing: border-box;
}

.card-text {
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  font-size: calc(0.1px + 2vmin);
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-form {
  padding: 40px;
}

.login-label {
  font-family: 'Fredoka One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 21px;
  display: block;
  align-self: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
}

.login-input {
  margin-top: 20px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  border-radius: 10px;
  font-size: 28px;
  border-color: transparent;
}

.login-input-code {
  text-transform: uppercase;
  margin-top: 20px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  border-radius: 10px;
  font-size: 28px;
  border-color: transparent;
}

.login-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #607D8B;
  margin: 40px;
  padding: 20px 75px;
  font-size: 24px;
  border-radius: 15px;
  font-family: 'Fredoka One', cursive;
  border-color: transparent;
  box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.42);
}

.login-button:hover {
  background-color: #757575;
}

.login-game-title {
  font-family: 'Fredoka One', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 42px;
  //display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.login-game-description {
  font-family: 'Fredoka One', cursive;
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 21px;
  display: block;
  align-self: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.game-title {
  font-family: 'Fredoka One', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  //display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.game-description {
  font-family: 'Fredoka One', cursive;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 21px;
  display: block;
  align-self: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.loading-message {
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 21px;
  display: block;
  align-self: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.strike-title {
  font-size: 25px;
  font-weight: 200;
}

.titles {
  padding: 20px;
}

.noctm-visual-fix {
  display: flex;
  justify-content: center;
  align-items: center;
}
